src/test/resources/mule-server-config/properties/testserver-RequestAddressIPv6.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Mule CoAP Connector
  %%
  Copyright (C) 2019 - 2021 (teslanet.nl) Rogier Cobben
  
  Contributors:
      (teslanet.nl) Rogier Cobben - initial creation
  %%
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  
  This Source Code may also be made available under the following Secondary
  Licenses when the conditions for such availability set forth in the Eclipse
  Public License, v. 2.0 are satisfied: GNU General Public License, version 2
  with the GNU Classpath Exception which is
  available at https://www.gnu.org/software/classpath/license.html.
  
  SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0
  #L%
  -->

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" 
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:coap="http://www.teslanet.nl/schema/mule/coap"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.teslanet.nl/schema/mule/coap http://www.teslanet.nl/schema/mule/coap/current/mule-coap.xsd">

   <description>Mule CoAP connector test application</description>
   
	<coap:udp-endpoint name="udp" logCoapMessages="true">
		<coap:socket-params bindToHost="[::1]" bindToPort="8883"/>
		<coap:exchange-params exchangeLifetime="1000" />
	</coap:udp-endpoint>

	<coap:server-config name="config"><coap:global-endpoints ><coap:global-endpoint endpoint="udp" /></coap:global-endpoints>
		<coap:resources>
				<coap:resource resourceName="service">
					<coap:sub-resources>
						<coap:resource resourceName="get_me" get="true" />
						<coap:resource resourceName="put_me" put="true" />
						<coap:resource resourceName="post_me" post="true" />
						<coap:resource resourceName="delete_me" delete="true" />
					</coap:sub-resources>
				</coap:resource>
			</coap:resources>
	</coap:server-config>


	<coap:udp-endpoint name="udpLocal" logCoapMessages="true">
		<coap:socket-params bindToHost="127.0.0.1" bindToPort="9983" />
		<coap:exchange-params exchangeLifetime="1000" />
	</coap:udp-endpoint>

	<coap:server-config name="configLocal"><coap:global-endpoints ><coap:global-endpoint endpoint="udpLocal" /></coap:global-endpoints>
		<coap:resources>
				<coap:resource resourceName="service">
					<coap:sub-resources>
						<coap:resource resourceName="get_me" get="true" />
						<coap:resource resourceName="put_me" put="true" />
						<coap:resource resourceName="post_me" post="true" />
						<coap:resource resourceName="delete_me" delete="true" />
					</coap:sub-resources>
				</coap:resource>
			</coap:resources>
	</coap:server-config>

   	<flow name="listen">
		<coap:listener get="true" post="true" put="true" delete="true" pathPattern="/service/*" config-ref="config">
			<coap:response />
		</coap:listener>
		<set-variable value="#[attributes.localAddress]" doc:name="Set value to test" doc:id="acfc94b6-5020-4904-b6c3-276f160ae64e" variableName="valueToTest"/>
		<scripting:execute engine="groovy" doc:name="Execute" doc:id="6be1cc85-64c6-4930-82f9-076524eadf18" >

			<scripting:code>if ( vars.valueToTest.getClass().isInstance( new
				java.lang.String() ) == false )
				{
				throw new Exception(&quot;attribute is not a String&quot;);
				}
				return  vars.valueToTest;
			</scripting:code>
		</scripting:execute>
   </flow>
   	<flow name="listen2">
		<coap:listener get="true" post="true" put="true" delete="true" pathPattern="/service/*" config-ref="configLocal">
			<coap:response />
		</coap:listener>
		<set-variable value="#[attributes.localAddress]" doc:name="Set value to test" doc:id="4c0e2fb9-716c-42d5-84f7-9caab3e76bc7" variableName="valueToTest"/>
		<scripting:execute engine="groovy" doc:name="Execute" doc:id="ca49aa89-6306-4562-8bdf-b1f6575bf0af" >

			<scripting:code>if ( vars.valueToTest.getClass().isInstance( new
				java.lang.String() ) == false )
				{
				throw new Exception(&quot;attribute is not a String&quot;);
				}
				return  vars.valueToTest;
			</scripting:code>
		</scripting:execute>
   </flow>
   
</mule>
