src/test/resources/mule-server-config/properties/testserver-options-other65010-unsafe-inbound.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Mule CoAP Connector
  %%
  Copyright (C) 2019 - 2024 (teslanet.nl) Rogier Cobben
  
  Contributors:
      (teslanet.nl) Rogier Cobben - initial creation
  %%
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  
  This Source Code may also be made available under the following Secondary
  Licenses when the conditions for such availability set forth in the Eclipse
  Public License, v. 2.0 are satisfied: GNU General Public License, version 2
  with the GNU Classpath Exception which is
  available at https://www.gnu.org/software/classpath/license.html.
  
  SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0
  #L%
  -->

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java"
        xmlns:coap="http://www.teslanet.nl/schema/mule/coap"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.teslanet.nl/schema/mule/coap http://www.teslanet.nl/schema/mule/coap/current/mule-coap.xsd

http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

    <description>Mule CoAP connector test application</description>

     <coap:global-config name="other" >
		<coap:other-option-configs>
			<coap:other-option-config alias="option-65010" number="65010" format="OPAQUE" singleValue="false"  maxBytes="200" />
		</coap:other-option-configs>
	</coap:global-config>

    <coap:udp-endpoint name="udp" logTraffic="true">
        <coap:socket-params  bindToPort="5683" />
        <coap:option-params >
			<coap:accept-other-options>
				<coap:accept-other-option alias="option-65010" />
			</coap:accept-other-options>
		</coap:option-params>
        <coap:exchange-params exchangeLifetime="1s"/>
    </coap:udp-endpoint>

    <coap:server-config name="config"><coap:endpoint udpEndpoint="udp" /> 
        <coap:resources>
            <coap:resource resourceName="service">
                <coap:sub-resources>
                    <coap:resource resourceName="get_me" get="true"/>
                    <coap:resource resourceName="put_me" put="true"/>
                    <coap:resource resourceName="post_me" post="true"/>
                    <coap:resource resourceName="delete_me" delete="true"/>
                </coap:sub-resources>
            </coap:resource>
        </coap:resources>

    </coap:server-config>

    <flow name="listen">
        <coap:listener get="true" post="true" put="true" delete="true" pathPattern="/service/*" config-ref="config">
                <coap:response-options>
                    <coap:other-options>
					<coap:other-option alias="option-65010" value="#[ vars.value ]"/>
                    </coap:other-options>
                </coap:response-options>
        </coap:listener>
        
		<set-variable value="#[attributes.options.other[?( $.alias == 'option-65010' )].unsafe[0]]" doc:name="Set Variable" variableName="attr"/>

        <java:new doc:name="New spy" doc:id="2e9c26f0-796f-4a26-aead-3a6968893f6e"
            class="nl.teslanet.mule.connectors.coap.test.utils.MuleEventSpy"
            constructor="MuleEventSpy( String )" target="spy">
            <java:args><![CDATA[#[{ arg0: 'coap.opt.other.65010.unsafe' }]]]></java:args>
        </java:new>

        <java:invoke doc:name="Invoke" doc:id="53784292-e82f-49df-8bab-5aa0846717d2"
            instance="#[vars.spy]" class="nl.teslanet.mule.connectors.coap.test.utils.MuleEventSpy"
            method="event(Object)" target="value">
            <java:args><![CDATA[#[{ arg0: vars.attr }]]]></java:args>
        </java:invoke>
        <set-payload value="nothing_important"/>
    </flow>

</mule>
