src/test/resources/mule-server-config/secure/testserver3.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Mule CoAP Connector
  %%
  Copyright (C) 2019 - 2020 (teslanet.nl) Rogier Cobben
  
  Contributors:
      (teslanet.nl) Rogier Cobben - initial creation
  %%
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  
  This Source Code may also be made available under the following Secondary
  Licenses when the conditions for such availability set forth in the Eclipse
  Public License, v. 2.0 are satisfied: GNU General Public License, version 2
  with the GNU Classpath Exception which is
  available at https://www.gnu.org/software/classpath/license.html.
  
  SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0
  #L%
  -->

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:coap="http://www.teslanet.nl/schema/mule/coap"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.teslanet.nl/schema/mule/coap http://www.teslanet.nl/schema/mule/coap/current/mule-coap.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

	<description>Mule CoAP connector test application</description>

	<coap:dtls-endpoint name="Dtls_endpoint2" doc:name="Dtls endpoint" logCoapMessages="true">
		<coap:dtls-params/>
		<coap:encryption-params keyStoreLocation="certs/keyStore.jks"
			keyStorePassword="endPassNONEXISTENT" privateKeyAlias="server"
			privateKeyPassword="endPass" trustStoreLocation="certs/trustStore.jks"
			trustStorePassword="rootPass" trustedRootCertificateAlias="root"/>
	</coap:dtls-endpoint>

	<coap:server-config name="config" endpoint="Dtls_endpoint2">
		<coap:root-resource>
			<coap:sub-resources>
				<coap:resource resourceName="service">
					<coap:sub-resources>
						<coap:resource resourceName="get_me" get="true"/>
						<coap:resource resourceName="put_me" put="true"/>
						<coap:resource resourceName="post_me" post="true"/>
						<coap:resource resourceName="delete_me" delete="true"/>
					</coap:sub-resources>
				</coap:resource>
			</coap:sub-resources>
		</coap:root-resource>
	</coap:server-config>

	<flow name="listen">
		<coap:listener uriPattern="/service/*" config-ref="config">
			<coap:response>
				<coap:response-payload><![CDATA[#[vars.replacement]]]></coap:response-payload>
			</coap:response>
		</coap:listener>
		<java:new doc:name="New spy" doc:id="29cb44b0-380b-41a8-b336-94f408e69401"
			class="nl.teslanet.mule.connectors.coap.test.utils.MuleEventSpy"
			constructor="MuleEventSpy(String)" target="spy">
			<java:args><![CDATA[#[{ arg0: "securityTest" }]]]></java:args>
		</java:new>
		<java:invoke doc:name="Invoke" target="replacement"
			doc:id="2059b640-40e7-42c5-babf-c89803082578" instance="#[vars.spy]"
			class="nl.teslanet.mule.connectors.coap.test.utils.MuleEventSpy" method="event(Object)">
			<java:args><![CDATA[#[{ arg0: payload }]]]></java:args>
		</java:invoke>
	</flow>
</mule>
