src/test/resources/mule-server-config/basic/testserver1.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Mule CoAP Connector
  %%
  Copyright (C) 2019 - 2020 (teslanet.nl) Rogier Cobben
  
  Contributors:
      (teslanet.nl) Rogier Cobben - initial creation
  %%
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  
  This Source Code may also be made available under the following Secondary
  Licenses when the conditions for such availability set forth in the Eclipse
  Public License, v. 2.0 are satisfied: GNU General Public License, version 2
  with the GNU Classpath Exception which is
  available at https://www.gnu.org/software/classpath/license.html.
  
  SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0
  #L%
  -->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:coap="http://www.teslanet.nl/schema/mule/coap"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.teslanet.nl/schema/mule/coap http://www.teslanet.nl/schema/mule/coap/current/mule-coap.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

   <description>Mule CoAP connector test application</description>

	<coap:server-config name="config">
		<coap:endpoint>
			<coap:udp-endpoint logCoapMessages="true" >
				<coap:exchange-params exchangeLifetime="1000" />
			</coap:udp-endpoint>
		</coap:endpoint>
		<coap:root-resource>
			<coap:sub-resources>
         <coap:resource resourceName="basic">
            <coap:sub-resources>
               <coap:resource resourceName="get_me" get="true"/>
               <coap:resource resourceName="do_not_get_me" get="false"/>
               <coap:resource resourceName="do_not_get_me2"/>
               <coap:resource resourceName="put_me" put="true"/>
               <coap:resource resourceName="do_not_put_me" put="false"/>
               <coap:resource resourceName="do_not_put_me2"/>
               <coap:resource resourceName="post_me" post="true"/>
               <coap:resource resourceName="do_not_post_me" post="false"/>
               <coap:resource resourceName="do_not_post_me2"/>
               <coap:resource resourceName="delete_me" delete="true"/>
               <coap:resource resourceName="do_not_delete_me" delete="false"/>
               <coap:resource resourceName="do_not_delete_me2"/>
            </coap:sub-resources>
				</coap:resource>
			</coap:sub-resources>
		</coap:root-resource>
   </coap:server-config>


   <flow name="listen-all">
      <coap:listener config-ref="config">
			<coap:response />
		</coap:listener>
		<scripting:execute engine="groovy" doc:name="toString"
			doc:id="6ee82e3d-1d98-4702-98ce-62ed11ac539f" target="response_message">
			<scripting:code >
				if ( payload == null )
				{
					return "";
				}
				else
				{
					return new String( payload );
				}
			</scripting:code>
		</scripting:execute>
		<set-payload
			value='#[output text/plain --- attributes.requestUri! ++ vars.response_message]'
			doc:id="f8a91183-323d-4bf9-a5bf-b32a9d9c11db" mimeType="text/plain" />
		<logger level="INFO" doc:name="Logger"
			doc:id="6cd1b913-1a4a-43ae-9ddf-ba45292217d1" />
   </flow>

	
</mule>
