src/test/resources/mule-server-config/basic/testserver1.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Mule CoAP Connector
  %%
  Copyright (C) 2019 - 2022 (teslanet.nl) Rogier Cobben
  
  Contributors:
      (teslanet.nl) Rogier Cobben - initial creation
  %%
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  
  This Source Code may also be made available under the following Secondary
  Licenses when the conditions for such availability set forth in the Eclipse
  Public License, v. 2.0 are satisfied: GNU General Public License, version 2
  with the GNU Classpath Exception which is
  available at https://www.gnu.org/software/classpath/license.html.
  
  SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0
  #L%
  -->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:coap="http://www.teslanet.nl/schema/mule/coap"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.teslanet.nl/schema/mule/coap http://www.teslanet.nl/schema/mule/coap/current/mule-coap.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

	<description>Mule CoAP connector test application</description>

	<coap:server-config name="config">
		<coap:endpoint>
			<coap:udp-endpoint logCoapMessages="true">
				<coap:socket-params bindToPort="5683" /><coap:exchange-params exchangeLifetime="1000" />
			</coap:udp-endpoint>
		</coap:endpoint>
		<coap:resources>
			<coap:resource resourceName="basic">
				<coap:sub-resources>
					<coap:resource resourceName="get_me" get="true" />
					<coap:resource resourceName="do_not_get_me"	get="false" />
					<coap:resource resourceName="do_not_get_me2" />				
					<coap:resource resourceName="put_me" put="true" />
					<coap:resource resourceName="do_not_put_me"	put="false" />
					<coap:resource resourceName="do_not_put_me2" />			
					<coap:resource resourceName="post_me" post="true" />
					<coap:resource resourceName="do_not_post_me" post="false" />
					<coap:resource resourceName="do_not_post_me2" />       
                    <coap:resource resourceName="delete_me" delete="true" />
                    <coap:resource resourceName="do_not_delete_me" delete="false" />
                    <coap:resource resourceName="do_not_delete_me2" />
                    <coap:resource resourceName="fetch_me" fetch="true" />
                    <coap:resource resourceName="do_not_fetch_me" fetch="false" />
                    <coap:resource resourceName="do_not_fetch_me2" />
                    <coap:resource resourceName="patch_me" patch="true" />
                    <coap:resource resourceName="do_not_patch_me" patch="false" />
                    <coap:resource resourceName="do_not_patch_me2" />
                    <coap:resource resourceName="ipatch_me" ipatch="true" />
                    <coap:resource resourceName="do_not_ipatch_me" ipatch="false" />
                    <coap:resource resourceName="do_not_ipatch_me2" />
				</coap:sub-resources>
			</coap:resource>
		</coap:resources>
	</coap:server-config>

	<flow name="listen-all">
		<coap:listener config-ref="config" get="true"
			post="true" put="true" delete="true"
			fetch="true" patch="true" ipatch="true">
			<coap:response />
		</coap:listener>

		<set-payload
			value="#[ output text/plain --- attributes.requestUri ++ ( payload default '' ) ]" />
	</flow>

</mule>
