src/test/resources/mule-config/entitytag/testflow1.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Mule CoAP Connector
  %%
  Copyright (C) 2023 (teslanet.nl) Rogier Cobben
  
  Contributors:
      (teslanet.nl) Rogier Cobben - initial creation
  %%
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  
  This Source Code may also be made available under the following Secondary
  Licenses when the conditions for such availability set forth in the Eclipse
  Public License, v. 2.0 are satisfied: GNU General Public License, version 2
  with the GNU Classpath Exception which is
  available at https://www.gnu.org/software/classpath/license.html.
  
  SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0
  #L%
  -->

<mule
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:coap="http://www.teslanet.nl/schema/mule/coap"
	xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
  http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
  http://www.teslanet.nl/schema/mule/coap http://www.teslanet.nl/schema/mule/coap/current/mule-coap.xsd
  http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
  http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

	<description>Mule CoAP connector test application</description>

	<flow name="testflow">
		<choice doc:name="input type" doc:id="52800155-a9f0-47b3-b97e-47261f8ed795" >
			<when expression="#[vars.in == 'EMPTY']">
				<coap:entity-tag doc:name="Empty">
					<coap:bytes>
						<coap:empty-bytes />
					</coap:bytes>
				</coap:entity-tag>
			</when>
			<when expression="#[vars.in == 'BINARY']">
				<coap:entity-tag doc:name="Entity tag" >
					<coap:bytes >
						<coap:from-binary binaryValue="#[payload]"/>
					</coap:bytes>
				</coap:entity-tag>
			</when>
			<when expression="#[vars.in == 'HEX']">
				<coap:entity-tag doc:name="From hex">
					<coap:bytes>
						<coap:from-hex hexValue="#[payload]" />
					</coap:bytes>
				</coap:entity-tag>
			</when>
			<when expression="#[vars.in == 'NUMBER']">
				<coap:entity-tag doc:name="From number" >
					<coap:bytes >
						<coap:from-number numberValue="#[payload]" />
					</coap:bytes>
				</coap:entity-tag>
			</when>
			<when expression="#[vars.in == 'STRING']">
				<coap:entity-tag doc:name="Entity tag" >
					<coap:bytes >
						<coap:from-string stringValue="#[payload]" />
					</coap:bytes>
				</coap:entity-tag>
			</when>
		</choice>
		<java:validate-type doc:name="Validate EntityTag" doc:id="a213b343-6ccd-4586-abbe-1367b388df80" class="nl.teslanet.mule.connectors.coap.api.entity.EntityTag" instance="#[payload]"/>
		<set-variable value="#[payload.empty]" doc:name="isEmpty" doc:id="dab3b1a2-a299-4339-879f-54bed912d381" variableName="isEmpty" />
		<choice doc:name="output type" doc:id="e202daa2-cc35-4d45-9476-3becfbf86994" >
			<when expression="#[vars.out == 'EMPTY' or vars.out == 'BINARY']">
				<set-payload value="#[payload.value]" doc:name="value" doc:id="b69dbb47-1633-41cc-8ac9-e5fed610316b" />
			</when>
			<when expression="#[vars.out == 'HEX']">
				<set-payload value="#[payload.valueAsHexString]" doc:name="valueAsHexString" doc:id="5e25698f-379f-4f7b-8146-16050198a36d" />
			</when>
			<when expression="#[vars.out == 'NUMBER']">
				<set-payload value="#[payload.valueAsNumber]" doc:name="valueAsNumber" doc:id="14df3641-ea38-4010-a721-04e6dbf2a881" />
			</when>
			<when expression="#[vars.out == 'STRING']">
				<set-payload value="#[payload.valueAsString]" doc:name="valueAsString" doc:id="e36d4e94-372c-413f-bffc-691066ac6de9" />
			</when>
			<otherwise >
				<set-payload value="#[null]" doc:name="null" doc:id="ba3ec764-387b-442b-afe5-1eeb6a75d98f" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="false" logException="false" doc:name="On Error Continue" doc:id="a4b3f822-0139-4776-9bab-7708ed3d8b8e" type="COAP:INVALID_ETAG" when="true">
				<set-payload value="INVALID_ETAG" doc:name="INVALID_ETAG" doc:id="6cbb3dff-3a76-42e1-af26-8e9d0251016f" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
