src/test/resources/mule-client-config/exceptionhandling/testclient1.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Mule CoAP Connector
  %%
  Copyright (C) 2019 - 2021 (teslanet.nl) Rogier Cobben
  
  Contributors:
      (teslanet.nl) Rogier Cobben - initial creation
  %%
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  
  This Source Code may also be made available under the following Secondary
  Licenses when the conditions for such availability set forth in the Eclipse
  Public License, v. 2.0 are satisfied: GNU General Public License, version 2
  with the GNU Classpath Exception which is
  available at https://www.gnu.org/software/classpath/license.html.
  
  SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0
  #L%
  -->

<mule
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:coap="http://www.teslanet.nl/schema/mule/coap"
	xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.teslanet.nl/schema/mule/coap http://www.teslanet.nl/schema/mule/coap/current/mule-coap.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">


	<description>Mule CoAP connector test application</description>

	<coap:udp-endpoint name="Udp_Endpoint"
		logCoapMessages="true">
		<coap:socket-params bindToPort="0" />
		<coap:exchange-params exchangeLifetime="1000" />
	</coap:udp-endpoint>

	<coap:client-config name="config">
		<coap:endpoint udpEndpoint="Udp_Endpoint" />
	</coap:client-config>

	<flow name="do_request">
		<coap:request-async config-ref="config"
			responseHandler="#[vars.handler]" requestCode="#[vars.code]"
			host="#[vars.host]" port="#[vars.port]" path="#[vars.path]">
			<coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
		</coap:request-async>
	</flow>

	<flow name="handler1">
		<coap:response-handler config-ref="config"
			handlerName="catching_handler" />

		<java:new doc:name="New spy"
			class="nl.teslanet.mule.connectors.coap.test.utils.MuleEventSpy"
			constructor="MuleEventSpy(String)" target="spy1">
			<java:args><![CDATA[#[{ arg0: "spy-me1" }]]]></java:args>
		</java:new>
		<java:invoke doc:name="Invoke" instance="#[vars.spy1]"
			class="nl.teslanet.mule.connectors.coap.test.utils.MuleEventSpy"
			method="event(Object)">
			<java:args><![CDATA[#[{ arg0: message }]]]></java:args>
		</java:invoke>

		<try doc:id="87fbe9b2-a739-421e-be03-3b4ab539d515">
			<validation:is-true expression="#[false]">
			</validation:is-true>
			<error-handler>
				<on-error-continue enableNotifications="true"
					logException="true" doc:name="On Error Continue"
					doc:id="615988fb-22af-49d8-92b0-e19a1f4c7bf5"
					type="VALIDATION:INVALID_BOOLEAN">
				</on-error-continue>
			</error-handler>
		</try>
		<java:new doc:name="New spy"
			class="nl.teslanet.mule.connectors.coap.test.utils.MuleEventSpy"
			constructor="MuleEventSpy(String)" target="spy2">
			<java:args><![CDATA[#[{ arg0: "spy-me2" }]]]></java:args>
		</java:new>
		<java:invoke doc:name="Invoke" instance="#[vars.spy2]"
			class="nl.teslanet.mule.connectors.coap.test.utils.MuleEventSpy"
			method="event(Object)">
			<java:args><![CDATA[#[{ arg0: message }]]]></java:args>
		</java:invoke>
		<logger message="spy 2" />
	</flow>

	<flow name="handler2">
		<coap:response-handler config-ref="config"
			handlerName="failing_handler" />

		<java:new doc:name="New spy"
			class="nl.teslanet.mule.connectors.coap.test.utils.MuleEventSpy"
			constructor="MuleEventSpy(String)" target="spy3">
			<java:args><![CDATA[#[{ arg0: "spy-me3" }]]]></java:args>
		</java:new>
		<java:invoke doc:name="Invoke" instance="#[vars.spy3]"
			class="nl.teslanet.mule.connectors.coap.test.utils.MuleEventSpy"
			method="event(Object)">
			<java:args><![CDATA[#[{ arg0: message }]]]></java:args>
		</java:invoke>
		<validation:is-true expression="#[false]" />
	</flow>

</mule>
