src/test/resources/mule-client-config/secure/testclient-pskfile.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Mule CoAP Connector
  %%
  Copyright (C) 2023 - 2024 (teslanet.nl) Rogier Cobben
  
  Contributors:
      (teslanet.nl) Rogier Cobben - initial creation
  %%
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  
  This Source Code may also be made available under the following Secondary
  Licenses when the conditions for such availability set forth in the Eclipse
  Public License, v. 2.0 are satisfied: GNU General Public License, version 2
  with the GNU Classpath Exception which is
  available at https://www.gnu.org/software/classpath/license.html.
  
  SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0
  #L%
  -->

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java"
		xmlns:coap="http://www.teslanet.nl/schema/mule/coap"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.teslanet.nl/schema/mule/coap http://www.teslanet.nl/schema/mule/coap/current/mule-coap.xsd

http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<description>Mule CoAP connector test application</description>

	<coap:dtls-endpoint name="Dtls_endpoint"
		logTraffic="true">
        <coap:socket-params bindToPort="0" />
		<coap:security-params>
            <coap:pre-shared-key-params>
                <coap:pre-shared-key-store path="secrets/pskfile.psk"/>
            </coap:pre-shared-key-params>
		</coap:security-params>
	</coap:dtls-endpoint>

	<coap:client-config name="config" host="127.0.0.1" port="5684"
		throwExceptionOnErrorResponse="false">
		<coap:endpoint dtlsEndpoint="Dtls_endpoint" />
	</coap:client-config>

	<flow name="get_me">
		<coap:request config-ref="config" requestCode="GET"
			path="/secure/get_me">
			<coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
		</coap:request>
	</flow>

	<flow name="do_not_get_me">
		<coap:request config-ref="config" requestCode="GET"
			path="/secure/do_not_get_me">
			<coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
		</coap:request>
	</flow>

	<flow name="post_me">
		<coap:request config-ref="config" requestCode="POST"
			path="/secure/post_me">
			<coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
		</coap:request>
	</flow>

	<flow name="do_not_post_me">
		<coap:request config-ref="config" requestCode="POST"
			path="/secure/do_not_post_me">
			<coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
		</coap:request>
	</flow>


	<flow name="put_me">
		<coap:request config-ref="config" requestCode="PUT"
			path="/secure/put_me">
			<coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
		</coap:request>
	</flow>

	<flow name="do_not_put_me">
		<coap:request config-ref="config" requestCode="PUT"
			path="/secure/do_not_put_me">
			<coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
		</coap:request>
	</flow>


	<flow name="delete_me">
		<coap:request config-ref="config" requestCode="DELETE"
			path="/secure/delete_me">
			<coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
		</coap:request>
	</flow>

	<flow name="do_not_delete_me">
		<coap:request config-ref="config" requestCode="DELETE"
			path="/secure/do_not_delete_me">
			<coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
		</coap:request>
	</flow>

</mule>
