src/test/resources/mule-client-config/properties/testclient2.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Mule CoAP Connector
  %%
  Copyright (C) 2019 - 2024 (teslanet.nl) Rogier Cobben
  
  Contributors:
      (teslanet.nl) Rogier Cobben - initial creation
  %%
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  
  This Source Code may also be made available under the following Secondary
  Licenses when the conditions for such availability set forth in the Eclipse
  Public License, v. 2.0 are satisfied: GNU General Public License, version 2
  with the GNU Classpath Exception which is
  available at https://www.gnu.org/software/classpath/license.html.
  
  SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0
  #L%
  -->

<mule

	xmlns="http://www.mulesoft.org/schema/mule/core"
		xmlns:coap="http://www.teslanet.nl/schema/mule/coap"
	xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.teslanet.nl/schema/mule/coap http://www.teslanet.nl/schema/mule/coap/current/mule-coap.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

	<description>Mule CoAP connector test application</description>

    <coap:global-config name="optionParams1">
        <coap:other-option-configs >
            <coap:other-option-config alias="option-65008" number="65008" format="OPAQUE" singleValue="false"/>
            <coap:other-option-config alias="option-65010" number="65010" format="OPAQUE" singleValue="false"/>
            <coap:other-option-config alias="option-65012" number="65012" format="OPAQUE" singleValue="false"/>
            <coap:other-option-config alias="option-65013" number="65013" format="OPAQUE" singleValue="false"/>
            <coap:other-option-config alias="option-65308" number="65308" format="OPAQUE" singleValue="false"/>
        </coap:other-option-configs>
    </coap:global-config>

	<coap:udp-endpoint name="Udp_Endpoint" logTraffic="true">
		<coap:socket-params bindToPort="0" />
		<coap:option-params >
			<coap:accept-other-options >
				<coap:accept-other-option alias="option-65008" />
				<coap:accept-other-option alias="option-65010" />
				<coap:accept-other-option alias="option-65012" />
				<coap:accept-other-option alias="option-65013" />
				<coap:accept-other-option alias="option-65308" />
			</coap:accept-other-options>
		</coap:option-params>

		<coap:exchange-params exchangeLifetime="4s" />
	</coap:udp-endpoint>

	<coap:client-config name="config"
		throwExceptionOnErrorResponse="false">
		<coap:endpoint udpEndpoint="Udp_Endpoint" />
	</coap:client-config>

	<flow name="do_request-">
		<coap:request config-ref="config"
			requestCode="#[vars.requestCode]" host="#[vars.host]"
			path="#[vars.path]">
			<coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
		</coap:request>
	</flow>

	<flow name="do_request-coap.opt.accept">
		<coap:request  config-ref="config"
			requestCode="#[vars.requestCode]" host="#[vars.host]"
			path="#[vars.path]"  accept="#[vars.option]" >
			<coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
		</coap:request>
	</flow>

	<flow name="do_request-coap.opt.content_format">
		<coap:request  config-ref="config"
			requestCode="#[vars.requestCode]" host="#[vars.host]"
			path="#[vars.path]" 
				contentFormat="#[vars.option]" >
			<coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
		</coap:request>
	</flow>
	<flow name="do_request-coap.opt.if_none_match">
		<coap:request  config-ref="config"
			requestCode="#[vars.requestCode]" host="#[vars.host]"
			path="#[vars.path]" 
				ifNoneMatch="#[vars.option]" >
			<coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
		</coap:request>
	</flow>

    <flow name="do_request-coap.opt.other">
        <coap:request  config-ref="config"
            requestCode="#[vars.requestCode]" host="#[vars.host]"
            path="#[vars.path]" >
            <coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
            <coap:other-options>
            	<coap:other-option alias="#[vars.other]" value="#[vars.option]" />
            </coap:other-options>
        </coap:request>
    </flow>
    
    <flow name="do_request-coap.opt.other.list">
        <coap:request  config-ref="config"
            requestCode="#[vars.requestCode]" host="#[vars.host]"
            path="#[vars.path]"  otherOptions="#[vars.option]">
			<coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
        </coap:request>
    </flow>
    

	<flow name="do_request-coap.opt.etag.list">
		<coap:request  config-ref="config"
			requestCode="#[vars.requestCode]" host="#[vars.host]"
			path="#[vars.path]"  entityTagOptions="#[vars.option]">
			<coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
		</coap:request>
	</flow>

	<flow name="do_request-coap.opt.if_match.any">
		<coap:request  config-ref="config"
			requestCode="#[vars.requestCode]" host="#[vars.host]"
			path="#[vars.path]"  ifExists="#[vars.option]" >
			<coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
		</coap:request>
	</flow>

	<flow name="do_request-coap.opt.if_match.etags">
		<coap:request  config-ref="config"
			requestCode="#[vars.requestCode]" host="#[vars.host]"
			path="#[vars.path]"  ifMatchOptions="#[vars.option]">
			<coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
		</coap:request>
	</flow>

	<flow name="do_request-coap.opt.size1">
		<coap:request  config-ref="config"
			requestCode="#[vars.requestCode]" host="#[vars.host]"
			path="#[vars.path]" 
				requestSize="#[vars.option]" >
			<coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
		</coap:request>
	</flow>
	
	<flow name="do_request-coap.opt.size2">
		<coap:request  config-ref="config"
			requestCode="#[vars.requestCode]" host="#[vars.host]"
			path="#[vars.path]" 
				requireResponseSize="#[vars.option]" >
			<coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
		</coap:request>
	</flow>

</mule>
