src/test/resources/mule-server-config/exceptionhandling/testserver1.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Mule CoAP Connector
  %%
  Copyright (C) 2019 - 2024 (teslanet.nl) Rogier Cobben
  
  Contributors:
      (teslanet.nl) Rogier Cobben - initial creation
  %%
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  
  This Source Code may also be made available under the following Secondary
  Licenses when the conditions for such availability set forth in the Eclipse
  Public License, v. 2.0 are satisfied: GNU General Public License, version 2
  with the GNU Classpath Exception which is
  available at https://www.gnu.org/software/classpath/license.html.
  
  SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0
  #L%
  -->

<mule

	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:coap="http://www.teslanet.nl/schema/mule/coap"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.teslanet.nl/schema/mule/coap http://www.teslanet.nl/schema/mule/coap/current/mule-coap.xsd">

	<description>Mule CoAP connector test application</description>

	<coap:udp-endpoint name="UDP_endpoint"
		logTraffic="true">
		<coap:socket-params bindToPort="5683" /><coap:exchange-params exchangeLifetime="1s" />
	</coap:udp-endpoint>

	<coap:server-config name="config">
		 
			<coap:endpoint udpEndpoint="UDP_endpoint" />
		 
		<coap:resources>
			<coap:resource resourceName="service">
				<coap:sub-resources>
					<coap:resource resourceName="unhandled_exception"
						get="true" put="true" post="true" delete="true" />
					<coap:resource resourceName="handled_exception"
						get="true" put="true" post="true" delete="true" />
					<coap:resource resourceName="no_listener" get="true"
						put="true" post="true" delete="true" />
				</coap:sub-resources>
			</coap:resource>
		</coap:resources>
	</coap:server-config>


	<flow name="listen_unhandled">
		<coap:listener get="true" post="true" put="true"
			delete="true" pathPattern="/service/unhandled_exception"
			config-ref="config">
			<coap:response />
		</coap:listener>
		<set-payload value="#[ throw exception ]" />

	</flow>


	<flow name="listen_handled">
		<coap:listener get="true" post="true" put="true"
			delete="true" pathPattern="/service/handled_exception"
			config-ref="config">
			<coap:response />
		</coap:listener>
		<try doc:name="Try" doc:id="7c514e9a-ff5b-4115-b817-dc0de0dd58e3">
            <set-payload value="#[ throw exception ]" />
			<error-handler>
				<on-error-continue enableNotifications="true"
					logException="true" doc:name="On Error Continue"
					doc:id="4d59f9ac-a41d-4df3-9b06-67d49d1e582f"
					type="MULE:EXPRESSION">
					<set-payload value="exception catched" />
				</on-error-continue>
			</error-handler>
		</try>
	</flow>
</mule>
