src/test/resources/mule-client-config/discovery/testclient1.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Mule CoAP Connector
  %%
  Copyright (C) 2019 - 2024 (teslanet.nl) Rogier Cobben
  
  Contributors:
      (teslanet.nl) Rogier Cobben - initial creation
  %%
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  
  This Source Code may also be made available under the following Secondary
  Licenses when the conditions for such availability set forth in the Eclipse
  Public License, v. 2.0 are satisfied: GNU General Public License, version 2
  with the GNU Classpath Exception which is
  available at https://www.gnu.org/software/classpath/license.html.
  
  SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0
  #L%
  -->

<mule
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:coap="http://www.teslanet.nl/schema/mule/coap"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.teslanet.nl/schema/mule/coap http://www.teslanet.nl/schema/mule/coap/current/mule-coap.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

	<description>Mule CoAP connector test application</description>

	<coap:udp-endpoint name="Udp_Endpoint"
		logCoapMessages="true">
		<coap:exchange-params exchangeLifetime="1s" />
	</coap:udp-endpoint>

	<coap:client-config name="service" host="127.0.0.1"
		throwExceptionOnErrorResponse="false">
		<coap:endpoint udpEndpoint="Udp_Endpoint" />
	</coap:client-config>
	
	<coap:client-config name="dynamic_service"
		throwExceptionOnErrorResponse="false">
		<coap:endpoint udpEndpoint="Udp_Endpoint" />
	</coap:client-config>
	
	<coap:client-config name="wrong_port"
		host="127.0.0.1" port="6767" throwExceptionOnErrorResponse="false">
		<coap:endpoint udpEndpoint="Udp_Endpoint" />
	</coap:client-config>
	
	<coap:client-config name="wrong_host"
		host="ditbestaatniet.org" port="6767"
		throwExceptionOnErrorResponse="false">
		<coap:endpoint udpEndpoint="Udp_Endpoint" />
	</coap:client-config>

	<flow name="ping_ok">
		<coap:ping config-ref="service" />
	</flow>

	<flow name="ping_nok">
		<coap:ping config-ref="wrong_port" />
	</flow>

	<flow name="ping_notresolvable">
		<coap:ping config-ref="wrong_host" />
	</flow>

	<flow name="ping_dynamic">
		<coap:ping config-ref="dynamic_service">
			<coap:remote-endpoint-params endpointHost="#[vars.host]" endpointPort="#[vars.port]" />
		</coap:ping>
	</flow>

	<flow name="discover">
		<coap:discover config-ref="service" />
	</flow>

	<flow name="discover_nok">
		<coap:discover config-ref="dynamic_service" />
	</flow>

	<flow name="discover_notresolvable">
		<coap:discover config-ref="wrong_host" />

	</flow>

	<flow name="discover_dynamic">
		<coap:discover config-ref="dynamic_service"
			host="#[vars.host]" port="#[vars.port]" queryParams="#[vars.query]" />
	</flow>

	<flow name="post">
		<coap:request doc:name="Request" config-ref="service"
			requestCode="POST" path="/service">
			<coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
		</coap:request>
	</flow>

	<flow name="delete">
		<coap:request doc:name="Request"
			config-ref="dynamic_service" requestCode="DELETE" host="#[vars.host]"
			port="#[vars.port]" path="#[vars.path]">
			<coap:request-payload><![CDATA[#[payload]]]></coap:request-payload>
		</coap:request>
	</flow>
</mule>
